<style>
.card {
  background: #fbf4f4;
  border-radius: 2px;
  display: inline-table;
  height: auto;
  margin: 1%;
  padding: 1%;
  position: relative;
  width: 46%;
}
.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
</style>

{: .card shadow }
[ :open_file_folder: Files for public access](https://drive.google.com/drive/folders/1MGTIataD9rRTVA7qBUZC8Im4Sq99NCri)

{: .card shadow }
[ :ok_hand: Have a file to share?](/upload)

{: .card shadow }
[ :iphone: Net2SMS](/net2sms)

{: .card shadow }
[ :leftwards_arrow_with_hook: URLredirect tool](/r)

{: .card shadow }
[ :pencil: digi&#8478;](/digirx)
