<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="/assets/images/bg.jpg">
      </div>
      <span class="h">Welcome !!</span>
    </div></li>
  {% for item in site.data.menu.docs %}
          <li><a href="{{ item.url }}" alt="{{ item.title }}"><i class="material-icons">{{ item.icon }}</i>{{ item.title }}</a></li>
   {% endfor %}
    <li><div class="divider"></div></li>
    <li><a class="subheader">Products:</a></li>
    <li><a class="waves-effect" href="/upload">fileShare</a></li>
    <li><a class="waves-effect" href="/net2sms">Net2Sms</a></li>
    <li><a class="waves-effect" href="/r">URLredirect</a></li>
    <li><a class="waves-effect" href="/digirx">digiRx</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger fixed-action-btn btn-floating btn-large"><i class="material-icons">menu</i></a>
