<ul id="slide-out" class="sidenav">
    <li><div class="user-view center-align">
      <div class="background">
        <img src="/assets/images/bg.jpg">
      </div>
      <h4 id="userName">Menu</h4>
    </div></li>
  {% for item in site.data.menu.docs %}
          <li><a href="{{ item.url }}" alt="{{ item.title }}"><i class="material-icons">{{ item.icon }}</i>{{ item.title }}</a></li>
   {% endfor %}
    <li><div class="divider"></div></li>
    <li><a class="subheader">Products:</a></li>
    <li><a class="waves-effect" href="/upload">fileShare</a></li>
    <li><a class="waves-effect" href="/net2sms">Net2Sms</a></li>
    <li><a class="waves-effect" href="/r">URLredirect</a></li>
    <li><a class="waves-effect" href="/digirx">digi&#8478;</a></li>
    <li><div class="divider"></div></li>
    <li><div id="my-signin" class="my-signin"></div><li>
    <li><a class="signout" onclick="signOut();" style="display: none;"><i class="material-icons">account_circle</i>Sign out</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger fixed-action-btn btn-floating btn-large"><i class="material-icons">menu</i></a>
<script>
//code for google sign-in
function onSuccess(googleUser) {
$(".my-signin").hide();
$(".signout").show();
//display user details
var profile = googleUser.getBasicProfile();
$("#userName").text("Welcome "+ profile.getName());
otherSignedInStuff(googleUser);
}
function onFailure(error) {
console.log(error);
}
function renderButton() {
  gapi.signin2.render('my-signin', {
    'scope': 'profile email',
    'width': 240,
    'height': 50,
    'longtitle': true,
    'theme': 'dark',
    'onsuccess': onSuccess,
    'onfailure': onFailure
  });
}
//google signout
function signOut() {
var auth2 = gapi.auth2.getAuthInstance();
auth2.signOut().then(function () {
location.reload();
});
}
</script>
